<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="kor" lang="kor">
<head>
    <meta charset="UTF-8">
    <title>캔버스 활용법</title>
</head>
<body>
    <canvas id="canvas" style="background-color: red; width: 1000px; height: 500px">
    </canvas>
    <script>
        const canvas = document.getElementById('canvas');
        const ctx = canvas.getContext("2d");

        let rec = {
            x: 10,
            y: 10,
            width: 50,
            height: 50,
            draw
        }

    </script>
</body>
</html>